### Brunch base gitignore with a few tweaks (http://brunch.io/)

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
nbproject
Thumbs.db

# NPM packages folder.
node_modules/

# Brunch folder for temporary files.
tmp/

# Brunch output folder.
public/
project_files/

# Bower stuff.
bower_components/

# Sublime Text 2
*.sublime-workspace
